main {
  font-family: BebasNeue;
  width: 60vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 50px;
  color: white;
}

section {
  flex-grow: 1;
  font-size: 6em;
  font-family: BebasNeue;
  width: 30%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  background-color: rgba(255, 255, 255, 0.15);
}

.status{
  font-family: BebasNeue;
  font-size: 2em;
  color: white;
  margin-top: 15px;
  margin-bottom: 5px;
}

input {
  margin: 10px;
  border: 3px solid white;
}

.icons {
  width: 55%;
}
