main {
  font-family: BebasNeue;
  width: 60vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 50px;
}

section {
  font-size: 6em;
  font-family: BebasNeue;
  width: 19vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.status{
  font-family: BebasNeue;
  font-size: 2em;
}

input {
  margin: 10px;
  border: 1px solid black;
}
